$color_black: #1f0f04;
$color_lightblack: #060504;
$color_another_black: #515050;
$color_white: #fff;
$color_light-white: #f9f9f9;
$color_dark_brown: #180102;
$color_light_black: #383330; 
$color_light_silver: #a8a5a5;
$color_silver: #5f5e5e;
$color_red: #eb373f;
$color_light_red: #ec3f47;
$color_yellow: #f8ac0b;
$color_dark_gray: #413a3a;
$color_dark-silver: #53504e;
$color_primary_silver: #e0e0e0;
$color_footer_bg: #1e1e1e;
$color_dark_silver_2: #c7c5c5;
$color-silver_3: #555656;
$color_fafafa: #fafafa;
$color_silversharp: #5e5858;
$color_bg_silver: #e9e8e8;
$primarycolor_hover: #ed292d;

$font-size-1: 50px;
$font-size-2: 48px;
$font-size-3: 30px;
$font-size-4: 25.27px;
$font-size-5: 24px;
$font-size-6: 18px;
$font-size-7: 16px;
$font-size-8: 20px;
$font-size-9: 14px;
$font-size-md: 60px;


$font_family_pt-sans: 'PT Sans';
$font_family_hind: 'Hind';



$break-lg: 1199px;
$break-tab: 1120px;
$break-md: 991px;
$break-sm-v: 800px;
$break-sm: 767px;
$break-xs: 600px;
$break-vs: 450px;
$break-xvs: 420px;
$break-mobile: 320px;





