* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: $color_white;
	font-size: $font-size-7;
	font-family: $font_family_pt-sans;
	color: $color_black;
	line-height: normal;
}
h1 {
	font-size: $font-size-1;
	font-weight: bold;
	color: $color_white;
}
h2 {
	font-size:$font-size-2;
	font-weight: bold;
}
h3 {
	font-size: $font-size-3;
	font-weight: bold;
}
h4 {
	font-size: $font-size-4;
	font-weight: bold;
	@media (max-width: $break-xvs){
		font-size: 18px;
	}
}
h5 {
	font-size: $font-size-5;
	font-weight: bold;
}
h6 {
	font-size: $font-size-6;
	font-weight: bold;
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}
a {
	text-decoration: none;
}
a:hover,
a:focus {
  	text-decoration: none; }

img {
	max-width: 100%;
	border: none;
}