.forgetpwd-modelblock{
	max-width: 586px;
	margin: 80px auto 30px;
    border: 1px solid #bdbcbc;
    padding: 15px;
	@media (max-width: $break-sm){
		max-width: 430px;
		margin: 80px auto 30px;
	}
	@media (max-width: $break-xs){
		max-width: 400px;
		margin: 80px auto 30px;
	}
	@media (max-width: $break-vs){
		max-width: 350px;
		margin: 80px auto 30px;
	}
	@media (max-width: $break-xvs){
		max-width: 280px;
		margin: 80px auto 30px;
	}
	@media (max-width: 350px){
		max-width: 260px;
		margin: 80px auto 30px;
	}
	.modal-forgetpwd{
		background: #fff;
		.head-forgetpwd{
			display: flex;
			justify-content: center;
		    border: none;
			.title-forgetpwd{
				margin: auto;
				.forget-img{
					width: 400px;
					@media (max-width: $break-vs){
						width: 200px;
					}
				}

			}
			.closebtn{
				margin: 0;
			}
		}
		.body-forgetpwd{
			margin: auto;
			

			.forgetpwd-content{
				text-align: center;
				.content-head{
				    font-size: 30px;
				    font-family: abeezee;
				    color: #678495;
				    @media (max-width: $break-vs){
						font-size: 20px;
					}
				}
				.content-text{
				    font-size: 16px;
				    font-family: Abeezee;
				    color: #6c757d;
				    @media (max-width: $break-vs){
						font-size: 12px;
					}
				}
			}

			.resetform{
				.label-text{
				    font-size: 16px;
	    			color: #6c757d;
				}
				.btn-resetpwd{
					border: none;
				    font-size: 16px;
				    font-family: abeezee;
				    padding: 7px 30px;
				    color: #fff;
				    background: #00a4e4;
				    border-radius: 4px;
				    cursor: pointer;
				    @media (max-width: $break-vs){
						width: 100%;
					}
				}
				.backtologin {
				    font-size: 14px;
				    font-family: Abeezee;
				    color: #678495;

				    .sign {
					    font-weight: 700;
					    margin-left: 7px;
					    text-decoration: none;
					    cursor: pointer;
					}
				}
				
			}
		}
	}
}