.wrapper-signup{
	@include background('../images/sign-up-bg.jpg');
	padding-top: $space-l + $space-n + $space-vs + 2px;
	padding-bottom: $space-l + $space-l + $space-vs + 1px;
	background-position: right;
	text-align: center;

	@media (max-width: $break-md){
		padding-top: $space-xl + $space-vs;
	}
	@media (max-width: $break-sm){
		padding-top: $space-xl + $space-vs + $space-m;
	}
	@media (max-width: $break-xvs){
		padding-bottom: $space-l + $space-s + $space-vs;;
	}
	.wrapper-title{
		color: $color-white;
		position: relative;

		&:before{
			content: '';
			width: 47px;
			height: 6px;
			background: #eb373f;
			top: 61px;
			left: 48%;
			position: absolute;
			@media (max-width: $break-xvs){
				width: 35px;
				height: 4px;
				top: 40px;
				left: 45%;
			}
		}
	}
}


.contactus{
	margin-top: $space-m + $space-vs + 2px;
	.heading-contactus{
		font-size: 24px;
		margin-bottom: $space-n + $space-vs;
	}
	.contactus-form{
		padding-left: $space-n - 2px;

		.title-signup{
			padding-left: $space-vs + 2px;
			color: #383535;
			margin-bottom: $space-n + $space-vs;
			font-family: $font_family_hind;
			font-size: 20px;
		}
		.checkbox-text{
			color: #484747;
			font-family: $font_family_hind;
		}
		.btn btn-submit{
			@include button-red;
			padding-top: $space-s + 1px;
			padding-bottom: $space-s + 1px;
			padding-left: $space-m + $space-s  - 3px;
			padding-right: $space-m + $space-s - 3px;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 1px;
			border: 2px solid $color-red;
			margin-top: $space-s + 2px;

			&:hover{
				color: $color-red;
				border: 2px solid $color-red;
				background: $color-white;
			}		
		}
	}
}



.our-partners-signup{
	padding-top: $space-l + $space-s;
	padding-bottom: $space-l + $space-s + 4px;
	margin-top: $space-l;
	.our-partners-block{
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: $break-md){
			margin-bottom: $space-m;
		}
	}
}
