#mr-top{
	margin-top: $space-none;
}
.spinwheel-sidebar{
	@include background('../images/sidebar-bg.png');
	background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 790px;
    transition: all 0.4s ease-in;   
    transform: translateX(-790px);
    z-index: 99999;
    overflow: auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    margin: 0px;
    height: 100%;
    overflow: hidden;
    @media (max-width: $break-sm-v){
        width: 600px;
    }
    @media (max-width: $break-xs){
        width: 430px;
    }
    @media (max-width: $break-vs){
        width: 300px;
    }

    &.active{
        transform: translateX(0px);
    }
    &.close{
        transform: translateX(-790px);
    }
    .modal-content{
    	background: none;
        border: none;
        height: 100%;

    	.modal-header{
    		border: none;
            padding: 15px 45px;
            @media (max-width: $break-xs){
                padding: 15px 15px;
            }
            .close{
                font-size: 40px;
            }
    	}
        .spin2wheel-block{
            position: relative;
            height: 100%;

            .spin2wheel-block-in{
                align-items: center;
                padding-top: 25px;
                @media (max-width: $break-vs){
                    line-height: 30px;
                }
                .spinwheel-img-block{
                    position: relative;
                    .spinwheel-img{
                        width: 80%;
                        @media (max-width: $break-sm){
                            width: 60%;
                        }
                        @media (max-width: $break-xs){
                            position: absolute;
                            bottom: -620px;
                            transform: rotate(270deg);
                            left: 60%;
                        }
                        @media (max-width: $break-xs){
                            width: 70%;
                        }
                        
                    }
                }
                .spinwheel-text{
                    display: flex;
                    flex-direction: column;
                    padding-right: 50px;
                    padding-left: 0;
                    text-align: center;
                    @media (max-width: $break-xs){
                        margin-left: 125px;
                    }
                    @media (max-width: $break-vs){
                        margin-left: 90px;
                        padding-right: 0;
                    }
                 
            		.heading-spinwheel{
        			    font-size: 34px;
        			    color: #fff;
                        margin-bottom: 10px;
                        @media (max-width: $break-vs){
                            font-size: 28px;
                            line-height: 36px;
                        }        			    
        			    .blue-clr{
        			    	color: #02285a;
        			    	
        			    }
            		}
                 
                    .title-text{
                        color: #fff;
                        font-size: 15px;
                        font-family: hind;
                        font-style: italic;
                        @media (max-width: $break-vs){
                            font-size: 16px;
                        }
                    }
                    .mail-input{
                        padding: 8px 10px;
                        text-align: center;
                    }
                    .lucky-btn{
                        padding: 8px;
                        border-radius: 5px;
                        border: none;
                        font-size: 15px;
                        font-family: hind;
                        background: #02285a;
                        color: #fff;
                        font-weight: 600;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}