

header {
	position: fixed	;
	top: 0;
	z-index: 9999;
	background-color: $color_white;
	width: 100%;
	.navbar-nav{
		li{
			background-color: #fff!important;}
			}
}
.navbar.navbar-expand-lg.navbar-light.my-nav {
	padding-top: $space-vs - 1px;
	padding-bottom: $space-vs + 2px;
	.my-navbar {
		justify-content: flex-start;
		margin-left: auto;
		margin-top: $space-vs - 1px;
		@media (max-width: $break-lg){
			margin-left: $space-none;
			margin-top: $space-vs - 1px;
		}
		@media (max-width: $break-md){
			text-align: center;
		}
		.nav-menu {
			.menu-items {
				.menu-items-in {
					padding-right: $space-n;
					padding-left: $space-s + $space-vs;
					color: $color_dark_brown;
					font-family: $font_family_hind;
					font-size: $font-size-7;
					@media (max-width: $break-lg){
						font-size: $font-size-7 - 1px;
					}
					@media (max-width: $break-md){
						font-size: $font-size-8;
						display: block;
					}
				}
			}
		}
	}
.header-right-part{
	@media (max-width: $break-md){
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.user-img{
  width: 30px;
  cursor: pointer;
        border: 1px solid #eb373f;
        border-radius: 51%;
  margin-right: $space-n;
 }
	.search-icon{
		margin-left: $space-m + $space-s + 3px;
		margin-right: $space-vs + 2px;
		@media (max-width: $break-lg){
			margin-left: $space-none;
			margin-right: $space-n - 1px;
		}
		@media (max-width: $break-md){
			margin-top: $space-n;
		}

	}
	

	.btn-login {
		@include button-red;
		text-align: center;
	    display: flex;
	    border: 2px solid $color_red;
	    justify-content: space-evenly;
	    vertical-align: middle;
	    align-items: center;
	    padding-top: $space-vs;
	    padding-bottom: $space-vs;
	    padding-left: $space-m;
	    padding-right: $space-m;
	    margin-left: $space-n + $space-vs;
	    margin-right: $space-n + $space-vs;
	    border-radius: 7px;
	    @media (max-width: $break-lg){
	    	margin-left: $space-none;
	    }
	    @media (max-width: $break-md){
			margin-top: $space-n;
			margin-bottom: $space-n;
			width: 50%;
		}
		@media (max-width: $break-xs){
			width: 100%;
			margin-right: $space-none;
		}
		&:hover {
			background-color: $color_white;
			color: $color_red;
			cursor: pointer;
			border: 2px solid $color_red;
		}
	}
	.social-icons {
		display: flex;
		padding: $space-none;
		@media (max-width: $break-xs){
			display: flex;
			width: 100%;
			justify-content: space-around;				
		}
		.elipse {
			border: 2px solid $color_red;
			border-radius: 50%;
			text-align: center;
			width: 35px;
			height: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color_light_red;
			margin-right: $space-s;
			@media (max-width: $break-md){
				margin-bottom: $space-n;
			}
			&:hover {
				background-color: $color_red;
				color: $color_white;
				cursor: pointer;
				border: 1px solid $color-red;

			}
		}
		.fa-icons {
			font-size: $font-size-8;
		}
	}
}
}

.login-modal{
	margin-top: 64px;
	.close-icon{
		display: flex;
		justify-content: flex-end;
		border: none;
	}
	.login-page{
		border-radius: 10px;
		border: 1px solid $color-white;
		background: $color-white;
		width: 100%;
		padding: $space-n;

		.head-login{
			color: $color-red;
			font-size: 22px;
			border-bottom: 2px solid #e8e5e5;
			padding-bottom: 7px;
		}
		.login-form{
			margin-top: 40px;
			margin-bottom: 14px;

			.title{
				color: #383535;
				font-family: hind;
				margin-bottom: -2px;
			}
			.login-form-control{
				border-radius: 10px;
			}
		}
		.login-form-password{
			margin-top: 10px;

			 .title{
			 	color: #383535;
				font-family: hind;
				margin-bottom: -2px;
			}
			.login-form-control{
				border-radius: 10px;
			}
		}
		.btn-sign-in{
			@include button-red;
			border: 2px solid $color-red;
		    width: 100%;
		    padding-top: 7px;
		    padding-bottom: 7px;
		    font-size: 24px;
		    font-family: hind;
		    font-weight: bold;
		    margin-top: 7px;

		    &:hover{
		    	color: $color-red;
		    	background: $color-white;
		    	border: 2px solid $color-red;
		    }
		}
		.forget-block{
			display: flex;
			justify-content: space-between;
			margin-top: 18px;
			@media (max-width: $break-vs){
				display: inline;
				text-align: center
			}
			.forget{
				font-family: hind;
				color: #383535;
				border-right: 1px solid darkgray;
				padding-right: 7px;
				font-size: 14px;
			}
			.clik{
				color: $color-red;
				font-size: 14px;
				font-family: hind;
				font-weight: bold;
			}
			.remember-checkbox{
				font-family: hind;
				color: #383535;
				font-size: 14px;
			}
		}
		.or{
			color: $color-red;
			font-size: 18px;
			text-align: center;
			font-family: hind;
			position: relative;

			&:after{
				width: 46%;
				height: 2px;
				content: '';
				position: absolute;
				background: #e8e5e5;
				top: 13px;
				right: 3px;
			}
			&:before{
				width: 46%;
				height: 2px;
				content: '';
				position: absolute;
				background: #e8e5e5;
				top: 13px;
				left: 3px;
			}
		}
		.fb-button{
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;

			.facebook-btn{
				border-radius: 15px;
				border: 2px solid #445c8e;
				background: #445c8e;
				padding-top: $space-s - 2px;
				padding-bottom: $space-s - 1px;
				padding-left: $space-m + 4px;
				padding-right: $space-m + 4px;
				font-size: 18px;
				color: $color-white;
				font-family: hind;

				&:hover{
					cursor: pointer;
					box-shadow: 0px 1px 2px #445c8e;
				}

				.fb-icon{
					padding-right: 14px;
					border-right: 2px solid #3d5482;
				}
				.btn-text{
					margin-left: 25px;
					@media (max-width: $break-vs){
						margin-left: $space-vs;
					}
				}
			}
		}
		.not-member{
			text-align: center;

			.not-member-text{
				font-family: hind;
				font-size: 14px;
				color: #383535;	
			}
			.Signup-title{
				font-family: hind;
				font-size: 14px;
				color: $color-red;
			}
		}
	}
}